/bin/
/lib/
/tmp/
/content_scope_runner.js
/hommk_finder.js
/hommk_logger.js
/hommk_styles.css
/hommk_styles.user.js
/hommk_styles_extra.user.js
/.project
/.settings
/.settings/
/.classpath/
/nbproject/
/nbproject/private/
/backup/
/resources/
/pagescope.error
/build
/.externalToolBuilders
/dist
/backup.xml
/.classpath
