/*
    Document   : hommk_styles
    Created on : 09.01.2012, 11:07:15
    Author     : Gelgamek <gelgamek at arcor.de>
    Description:
        Generic styles for HkToolkit
*/

.GradientGreyDarkgreyGrey {
  background-image: -webkit-linear-gradient(top, #1a1a1a, #040404 66%, #1a1a1a) !important;
  background-image: -moz-linear-gradient(to bottom, #1a1a1a, #040404 66%, #1a1a1a) !important;
  background-image: linear-gradient(to bottom, #1a1a1a, #040404 66%, #1a1a1a) !important;
  background-image: linear-gradient(top, #1a1a1a, #040404 66%, #1a1a1a) !important;
}

.Radius5 {
  border-radius: 5px !important;
}

.Radius10 {
  border-radius: 10px !important;
}

.Radius5BottomLeft {
  border-top-left-radius: 5px !important;
}

.Radius10TopLeft {
  border-top-left-radius: 10px !important;
}

.Radius10TopRight {
  border-top-right-radius: 10px !important;
}

.HkButton {
  border: none !important;
}